body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #f0f0f0; */
    background: linear-gradient(135deg, #74ABE2, #5563DE);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;    
}

header{
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 1.5em 0;
}

h1 span{
    color: #ffda79;
}

section{
    margin: 2em auto;
    width: 80%;
}

img{
    width: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
}

footer{
    background-color: #222;
    color: white;
    padding: 1em 0;
}

h1{
    transition: transform 0.3s;
}

h1:hover{
    transform: scale(1.1);
    color: #ffcc00;
}